@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Tuan2.css" />

<div class="container">
    <div class="header">Bài tập</div>
    <div class="sub-container">
        <div class="left">
            <p>Họ tên: @ViewBag.HoTen
            <br>MSSV: @ViewBag.MSSV</p>
        </div>
        <div class="right">
            <a href="~/Profile"><img src="~/css/01.jpg"></a>
            <p>Giới thiệu bản thân</p>
        </div>
    </div>
    <div class="footer1">© Copyright @ViewBag.HoTen - @ViewData["Nam"]</div>
</div>
