<link rel="stylesheet" href="~/css/Profile.css" />
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<section class="full-height bg-light">
    <div class="container py-5 full-height">
        <div class="row d-flex justify-content-center align-items-center full-height">
            <div class="col-lg-6 mb-4">
                <div class="card mb-3 rounded">
                    <div class="row g-0">
                        <div class="col-md-4 gradient text-center text-white rounded-left">
                            <img src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t39.30808-6/373643065_825394095931590_1134709036408743857_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=9MT5kmb7D6sQ7kNvgHFLgSl&_nc_ht=scontent.fsgn2-3.fna&oh=00_AYDuPjZXEo01zDyAE-b0I9HStnK0W8JNfvg4cab2JTItFA&oe=66E26410"
                                 alt="Avatar" class="img-fluid my-5 avatar" />
                            <h5>Tín Võ</h5>
                            <p>Web Designer</p>
                            <i class="far fa-edit mb-5"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">tinvo.bh2018@gmail.com</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Phone</h6>
                                        <p class="text-muted">0372040759</p>
                                    </div>
                                </div>
                                <h6>Projects</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Recent</h6>
                                        <p class="text-muted">Lorem ipsum</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Most Viewed</h6>
                                        <p class="text-muted">Dolor sit amet</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-start">
                                    <a href="https://www.facebook.com/profile.php?id=100053830207201"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
